version: 3
extensions:
    - ext-lookup-manager
hives:
  extension_config:
    ext-lookup-manager:
        data:
            lookup_manager_rules:
                - arl: '[github,SoteriaSec/limacharlie-lookups/LOLRMM-Domains/rmm-domain-lookup-list.json]'
                  format: json
                  name: rmm-domains
                  tags:
                    - soteriasec
                - arl: '[github,SoteriaSec/limacharlie-lookups/LOLRMM-Domains/rmm-ip-lookup-list.json]'
                  format: json
                  name: rmm-ips
                  tags:
                    - soteriasec
                - arl: '[github,SoteriaSec/limacharlie-lookups/LOLRMM-Domains/rmm-urls-lookup-list.json]'
                  format: json
                  name: rmm-urls
                  tags:
                    - soteriasec
        usr_mtd:
            enabled: true
            expiry: 0
            tags: []
            comment: ""
  dr-general:
      RMM Domain Lookup:
          data:
              detect:
                event: DNS_REQUEST
                op: and
                rules:
                  - op: is platform
                    not: true
                    name: chrome
                  - op: lookup
                    case sensitive: false
                    path: event/DOMAIN_NAME
                    resource: hive://lookup/rmm-domains
              respond:
                  - action: report
                    name: RMM Tool Domain Queried
                    metadata:
                        author: Josh Lemon (SoteriaSec)
                        description: Detects DNS queries to known Remote Monitoring and Management (RMM) tool domains that could indicate unauthorized remote access. Excludes Chrome to avoid users brwosing websites.
                        falsepositives:
                        - Legitimate usage of approved remote management tools
                        level: medium
                        references:
                        - https://github.com/magicsword-io/LOLRMM
                        tags:
                        - attack.command_and_control
                        - attack.t1219
          usr_mtd:
              enabled: true
              expiry: 0
              tags: []
              comment: ""
      RMM IP Lookup:
          data:
              detect:
                event: NETWORK_CONNECTIONS
                op: lookup
                path: event/NETWORK_ACTIVITY/?/IP_ADDRESS
                resource: hive://lookup/rmm-ips
              respond:
                  - action: report
                    name: RMM Tool IP Accessed
                    metadata:
                        author: Josh Lemon (SoteriaSec)
                        description: Detects IPs accessed to known Remote Monitoring and Management (RMM) tool domains that could indicate unauthorized remote access
                        falsepositives:
                        - Legitimate usage of approved remote management tools
                        level: medium
                        references:
                        - https://github.com/magicsword-io/LOLRMM
                        tags:
                        - attack.command_and_control
                        - attack.t1219
          usr_mtd:
              enabled: true
              expiry: 0
              tags: []
              comment: ""
      RMM URL Lookup:
          data:
              detect:
                event: HTTP_REQUEST
                op: and
                rules:
                  - op: is platform
                    name: chrome
                  - op: lookup
                    path: event/URL
                    resource: hive://lookup/rmm-urls
              respond:
                  - action: report
                    name: RMM Tool URL Accessed
                    metadata:
                        author: Josh Lemon (SoteriaSec)
                        description: Detects URLs accessed to known Remote Monitoring and Management (RMM) tool domains that could indicate unauthorized remote access. This only detects URLs in the browser.
                        falsepositives:
                        - Legitimate usage of approved remote management tools
                        level: medium
                        references:
                        - https://github.com/magicsword-io/LOLRMM
                        tags:
                        - attack.command_and_control
                        - attack.t1219
          usr_mtd:
              enabled: true
              expiry: 0
              tags: []
              comment: ""